    <div class="row mt-3 mb-3">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <button  class="btn" mat-raised-button>First</button>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <button class="btn" mat-raised-button>Previous</button>
        </div>
         <div class="col-lg-3 col-md-6 col-sm-6">
              <button  class="btn" mat-raised-button>Next</button>
              </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <button  class="btn" mat-raised-button>Next</button>
              </div>
      </div>