<div class="row mb-3">
     <div class="col-lg-12 col-md-12 col-sm-12">
  <mat-card appearance="outlined">
          <mat-card-content>
      <div class="responsive-links">
       
          <span class="text-icon"><span> <mat-icon class="header-icon">mail</mat-icon></span> {{email() }} </span>
           <span class="divider"> | </span>  
           <span class="text-icon"><span> <mat-icon class="header-icon">website</mat-icon></span> {{ website() }} </span> 
         <span class="divider"> | </span>  
           <span class="text-icon"><span> <mat-icon class="header-icon">phone</mat-icon></span>{{ contact() }} </span>
       
      </div>
            </mat-card-content>
      </mat-card>

      </div>
    </div>
