.responsive-links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}

.text-icon{
    display: flex;
    align-items: center;
    gap: 2px;
}
.divider{
    display: inline;
}

@media (max-width: 800px) {
    .responsive-links{
        flex-direction: column;
        gap: 4px;
    }

    .divider{
    display: none;
}

}

.header-icon{
 color: #0033AA;
}