    <div class="row mb-3 mt-3">
      <div class="col-lg-12 col-md-12 col-sm-12">
      <mat-card appearance="outlined">
        <mat-card-header class="mb-2">
          <mat-card-title><strong>{{addressBook().firstname}} {{addressBook().surname}} </strong></mat-card-title>
        </mat-card-header>
          <mat-card-content>
              <div class="scrollable-paragraph">
                    <p>{{addressBook().about}}</p>
                    </div>
            </mat-card-content>
      </mat-card>

      </div>
    </div>

    <app-profile-contacts 
      [email]="addressBook().email" 
      [website]="addressBook().website"
      [contact]="addressBook().contacts"
    
    />
    
