
@use 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body {
    background: #0033AA;
background: linear-gradient(90deg,rgb(1, 13, 75) 0%, rgb(58, 52, 242) 50%, rgb(1, 13, 75) 100%);

     margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}


.alert-success{
    background-color: #4caf50;
    color: white;   
}

.alert-error{
    background-color: #f44336 !important;
    color: white;   
}
