<div class="container-fluid mt-5">
  <app-header/>
  <app-loading-spinner *ngIf="(loading$ | async)!"/>

  @if(addressBooks.length > 0)
  {
      <div class="row">

      <div class="col-lg-4 col-md-12 col-sm-12">

          <app-profile-image [imageUrl]="currentAddressBook.imageUrl"/>

      </div>

      <div class="col-lg-8 col-md-12 col-sm-12">

        <app-profile-information [addressBook]="currentAddressBook"/>

        <app-profile-buttons 
            [websiteUrl]="currentAddressBook.website" 
            [id]="currentAddressBook.id" 
            (requestCv)="requestCV($event)"/>

        <app-navigation-buttons 
          (first)="navigateFirst()"
          (last)="navigateLast()"
          (next)="navigateNext()"
          (previous)="navigatePrevious()"
          [currentIndex]="currentIndex()"
          [addressBookLength]="addressBooks.length"
          />

      </div>
    </div>


  }
  @else
  {
<p>No Address Found</p>
  }

</div>
